.boxContainer-style {
    display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: auto !important;
}

.dasboardCard-style {
    padding: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0 !important;
    border: solid 2px rgb(232, 234, 235);
    border-radius: 10px;
}

.productName-style {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
