.button-style {
    border: 0px solid white !important;
    width: 100px;
    max-width: 110px;
    height: 48px;
    max-height: 48px;
    border-radius: 25px !important;
}

.button-style:hover {
    border-radius: 25px !important;
    background-color: rgb(20, 79, 128) !important;
    font-weight: 600 !important;
}

.active {
    border-radius: 25px !important;
    background-color: rgb(20, 79, 128) !important;
    font-weight: 600 !important;
}

.inactive {
    border-radius: 25px !important;
    background-color: rgb(20, 79, 128) !important;
}