.link-style2 {
    background-color: transparent !important;
}

.link-style2:hover {
    color: #0e5895;
    transform: scale(1.04);
}

.productDetailsImg-style {
    background-color: white;
    border-radius: 14px;
    border: solid 2px rgb(232, 234, 235);
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.01);

}

.productDetailsCard-style {
    padding: 60px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    margin: 0 !important;
}

.hr-style3 {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
    width: 100%;
    max-width: 600px;
}

.iconInfo-style {
    background-color: transparent !important;
    font-size: 30px !important;
}

.productDetailsDescription-style {
    word-wrap: break-word;
}