.hrTop-style {
    margin: auto;
    border: 3px solid #292829;
}

.AppBar-style {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logoNavbar-style {
    transition: transform 0.05s ease;
}

.logoNavbar-style:hover {
    transform: scale(1.04)
}