.cardProductInfo-style {
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardContent-style{
  padding-bottom: 10px !important;
}