.IconButton-style {
    text-align: center;
    color: white !important;
}

.IconButton-style:hover {
    border-radius: 25px !important;
    background-color: rgb(20, 79, 128) !important;
    font-weight: 600 !important;
}
